body {        
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  color: #752c03;    
  font-family: 'Crimson Text', serif;    
}

input {
  background: transparent;
  color: #752c03;
  font-size: 30px;
  font-weight: bold;
}

i:hover {
  cursor: pointer;
  color: #752d035e;
}

i.fa-cog {
  animation-name: spinnerOff;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;  
}

p {
  font-size: 18px;
  color: #752c03;
}

.timerLabel {
  font-size: 23px;
}

/* border clock */
.c100:after {    
  background: #f8c985 !important;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
}
 
.c100:hover:after {
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  }

.c100.bigger {
  /* must be bigger than clockwrapper */   
  width: 250px;
  height: 250px;
  /* dont remove, else fill border wont work */
  font-size: 250px; 
  background-color: rgb(224, 214, 214);  
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.5);
}

.clockWrapper {    
  width: 95%;
  height: 95%;
  position: absolute;    
  left: 50%;    
  top: 50%; 
  transform: translate(-50%, -50%);     
  z-index: 1;  
  border-radius: 100%;
}

.wrap {
  overflow: hidden;
  position: relative;    
  width: 100%;
  height: 100%;
  border-radius: 100%;    
  }

.clock {
  border-radius: 100%;
  background: #f8c985;
  width: 100%;
  height: 100%;    
  }

.tomato:before {
  content: '';
	position: absolute;
  width: 3%;
  margin: auto;
  height: 12%;
  background: #b53838;
	left: 0;
	right: 0;
	top: -12%;
	z-index: -1;
	transform: rotate(10deg);
  }

.tomato:after {
   content: '';
	position: absolute;
	margin: auto;
	width: 8%;
	height: 16%;
	background: #b53838;
	left: 0;
	right: 15%;
	top: -13%;
	z-index: -1;
	transform: rotate(-40deg);
	border-radius: 100% 30% 50% 0;
}
    
.hour {    
  width: 2%;;
  height: 27%;
  top: -27%;  
  position: absolute;       
  margin: auto;          
  left: 0;
  bottom: 0;
  right: 0;    
  background: black;
  background: rgb(112, 53, 27);
  transform-origin: bottom center;
  transform: rotate(0deg);    
  z-index: 1;
}
  
.minute {    
  width: 2%;
  height: 35%;
  top: -35%;
  margin: auto;      
  position: absolute;    
  bottom: 0;
  right: 0;
  left: 0;    
  transform: rotate(90deg);
  transform-origin: bottom center;    
  background: rgb(206, 93, 45);    
  z-index: 1;
}
  
.second {      
  width: 1%;
  height: 40%;
  top: -40%;
  position: absolute;
  margin: auto;    
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #ee2c0a;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;    
  background: rgb(246,134,87);
}
  
.dot {            
  width: calc(350px / 58);
  height: calc(350px / 58);        
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  border: 2px solid rgb(77, 28, 28);
  background: white;    
  margin: auto;
  z-index: 1;
}

.modal-header {
  background: rgba(239,148,72, 0.7);
  border-bottom: 1px solid brown;
}

.close {
  font-size: 2rem;
}

.modal .modal-content {
  box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.7);  
}

@media screen and (max-width: 576px) { 
  input:disabled[name=input] {
    width: 17%!important;
  }
}